@import url('http://fonts.cdnfonts.com/css/minecraft-4');
body
{
    background-image: url("..//img/bg_03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

h1
{
    color: whitesmoke;
    text-align: center;
    margin-top: 100px;
    font-family: 'Minecraft', sans-serif;
    font-weight: 900;   
    font-size: 65px;
    -webkit-text-stroke: 0.1px black;
    
}
h2
{
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-weight: 900;
    font-size: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-self: center;
}

h2::after 
{
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: whitesmoke;
    margin: 10px auto 0 auto;
    border-radius: 2px;
    align-self: center;
}
form
{
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-width: 290px;
    min-height: 310px;
    border: 5px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    padding: 20px 40px 40px 40px;
    background-image: linear-gradient(#FF5100, red, rgb(174, 0, 93));
    
    
}

div
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    min-height: 150px;
    
}

input, label, a 
{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;   
    font-size: 20px;
}

input 
{
    margin-bottom: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

button 
{
    color: black;
    border-radius: 5px;
    min-width: 100px;
    background-color: whitesmoke;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

#senhaesquecida
{
    align-self: center;
    display: none;
}

#labelaviso
{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;   
    font-size: 20px;
    
}